<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.css' %}"
    />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% include 'core/navbar.html' %} {% include 'core/messages.html' %}

    <img
      src="{% static 'media/arkaplan.webp' %}"
      alt="Background"
      class="form-background"
    />

    <div class="form-container m-auto">
      <div class="form-content mt-5">
        <div id="alert-container"></div>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="username"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Email-Confirm</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail2"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="username-confirm"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
              name="password"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Password-Confirm</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword2"
              placeholder="Password-confirm"
              name="password-confirm"
            />
          </div>
          <button type="submit" class="btn btn-dark">Register</button>
          <a
            href="{% url 'user_profile:login_view' %}"
            class="btn btn-dark ml-5"
            >Back</a
          >
        </form>
      </div>
    </div>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/message.js' %}"></script>
  </body>
</html>
