{% load static %}
<!DOCTYPE html>
<html>
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="" />
    <title>Evia</title>
    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.css' %}"
    />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <style>
      .img-box img {
        max-height: 300px; /* Resimlerin yüksekliğini sınırlayın */
        object-fit: cover; /* Resimlerin düzgün görünmesini sağlayın */
        width: 100%;
      }
      footer {
        position: relative;
        z-index: 1; /* Footer'ın önde olmasını sağlayın */
      }
      .offer_container {
        position: relative;
        z-index: 0; /* Resimlerin altında olmasını sağlayın */
      }

      #gradio-widget {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 400px;
        height: 600px;
        z-index: 1000;
        display: none; /* Başlangıçta gizli */
      }
      #gradio-widget-toggle {
        position: fixed;
        bottom: 20px;
        right: 0px;
        z-index: 1001;
        background-color: #ff6600;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
      }
    </style>
  <body>
    {% include 'core/navbar.html' %}

    <div class="hero_area">
      <div class="bg-box">
        <img src="{% static "media/hero-bg.jpg"%}" alt="" />
      </div>
      <!-- slider section -->
      <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Restoranımıza Hoş Geldiniz!</h1>
                      <p>
                        Restoranımız, lezzetli yemekleri, sıcak atmosferi ve
                        misafirperver hizmetiyle İstanbul'un kalbinde sizleri
                        ağırlamaktan mutluluk duyar. Yılların deneyimi ve
                        tutkuyla hazırladığımız menümüzde, yöresel lezzetlerden
                        uluslararası tatlarına kadar geniş bir seçki
                        bulabilirsiniz.
                      </p>
                      <div class="btn-box">
                        <a href="{% url 'home_view' %}" class="btn1"
                          >Sipariş Ver</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container mt-3">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>Menü Çeşitliliğimize Gözatın!</h1>
                      <p>
                        Kahvaltı, öğle yemeği veya akşam yemeği için olsun,
                        menümüzde hamburgerden makarnaya her damak zevkine hitap
                        eden seçenekler bulunmaktadır. Restoranımızı mutlaka
                        ziyaret edin,rezervasyon oluşturun veya online sipariş
                        verin, kapınıza getirelim.
                      </p>
                      <div class="btn-box">
                        <a href="{% url 'home_view' %}" class="btn1"
                          >Sipariş Ver</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-7 col-lg-6">
                    <div class="detail-box">
                      <h1>İmza Lezzetlerimiz ve Tariflerimiz</h1>
                      <p>
                        Uzman şeflerimizin özel tarifleriyle hazırlanan imza
                        yemeklerimizi mutlaka deneyin. Özel soslarla marine
                        edilmiş burgerler, taze baharatlarla lezzetlendirilmiş
                        kızartmalar veya nefis pizza seçeneklerimizle
                        damaklarınıza unutulmaz bir tat sunuyoruz.Aynı zamanda
                        blog sayfasından detaylı bir şekilde nasıl
                        hazırlandıklarına ulaşabilirsiniz !
                      </p>
                      <div class="btn-box">
                        <a href="{% url 'home_view' %}" class="btn1"
                          >Sipariş Ver</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <ol class="carousel-indicators">
              <li
                data-target="#customCarousel1"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#customCarousel1" data-slide-to="1"></li>
              <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </section>
      <!-- end slider section -->

      <!-- offer section -->
      <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="box">
                  <div class="img-box">
                    <img
                      src="{% static 'media/Biftek Makarna.webp' %}"
                      alt=""
                    />
                  </div>
                  <div class="detail-box">
                    <h5>Lezzetli İndirimler</h5>
                    <h6><span>20%</span> indirim</h6>
                    <a href="{% url 'home_view' %}">
                      Sipariş Ver
                      <svg
                        version="1.1"
                        id="Capa_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 456.029 456.029"
                        style="enable-background: new 0 0 456.029 456.029"
                        xml:space="preserve"
                      >
                        <g>
                          <g>
                            <path
                              d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                            />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path
                              d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4C457.728,97.71,450.56,86.958,439.296,84.91z"
                            />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path
                              d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                            />
                          </g>
                        </g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <div class="img-box">
                    <img
                      src="{% static 'media/Karışık Soğanlı Pizza.jpg' %}"
                      alt=""
                    />
                  </div>
                  <div class="detail-box">
                    <h5>Pizza Günleri</h5>
                    <h6><span>15%</span> indirim</h6>
                    <a href="{% url 'home_view' %}">
                      Sipariş Ver
                      <svg
                        version="1.1"
                        id="Capa_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 456.029 456.029"
                        style="enable-background: new 0 0 456.029 456.029"
                        xml:space="preserve"
                      >
                        <g>
                          <g>
                            <path
                              d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                            />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path
                              d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4C457.728,97.71,450.56,86.958,439.296,84.91z"
                            />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path
                              d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                            />
                          </g>
                        </g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script>
        document.getElementById('gradio-widget-toggle').onclick = function() {
          var widget = document.getElementById('gradio-widget');
          if (widget.style.display === 'none') {
            widget.style.display = 'block';
          } else {
            widget.style.display = 'none';
          }
        };
      </script>

      {% include 'core/footer.html' %}
      </html>
      